@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
}
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-title{
    font-size: 2.8rem;
    font-weight: 500;
}
nav > ul {
  display: flex;
}
nav li {
  display: flex;
  list-style: none;
  font-size: 18px;
  font-weight: 500;
  color: #424242;
  margin-right: 30px;
}
nav li a {
  text-decoration: none;
}
.banner {
  margin-top: 100px;
}
.banner-content {
  width: 800px;
  text-align: center;
  margin: 0 auto;
}
.banner-title {
  /* 1rem=16px */
  font-size: 4rem;
  font-weight: 700;
}
.banner-description {
  margin-top: 20px;
  margin-bottom: 32px;
  color: #727272;
}
.btn-primary {
  border-radius: 8px;
  background: #ff900e;
  padding: 20px 25px;
  border: 0;
  color:#fff;
}
.banner img{
    width: 100%;
    margin-top:50px;
}

/* main */
main{
  max-width: 1440px;
  margin: 0 auto;
}




.teams-container{
  display: flex;
  align-items: center;
  margin-top: 90px;
}
.teams-img-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 24px;
}
.teams-content{
  padding-left: 70px;
  padding-right: 70px;
}
.teams-description{
  margin-top: 24px;
  margin-bottom: 32px;
  color:#727272;
}
.teams-title{
  font-size: 45px;
  color:#727272;
}
.teams-title .text-our{
color:#131313;
}
.teams-title .text-features{
  color:#FF900E;
}


/* responsive desing using media query */
/* for mobile devices */
@media screen and (max-width: 600px) {
    .banner-title{
        font-size: 1.5rem;
    }
    header {
        padding: 20px;
      }
      nav {
      flex-direction: column;
      gap: 10px;
      }
      .banner-content {
        width: 300px;
      
      }

      /* main section */
      .teams-container{
        flex-direction: column-reverse;
       }
      
    .teams-img-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 24px;
        margin-top: 3rem;
    }
  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: 600px)  and (max-width:960px){
    .banner-title{
        font-size: 2rem;
    }
    header {
        padding: 20px;
      }
      nav {
      flex-direction: column;
      gap: 10px;
      }
      .banner-content {
        width: 350px;
      
      }
  }
  